#adydctbbcode-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: transparent;
}

#adydctbbcode-modal .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888888;
	width: 80%;
	text-align: center;
	box-shadow: 5px 10px 5px #131313;
}

#adydctbbcode-modal .modal-content img {
	cursor: pointer;
}

#adydctbbcode-modal .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#adydctbbcode-modal .close:hover,
#adydctbbcode-modal .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
