{% if ADY_DCTBBCODE_ALLOWED %}
<button id="adydctbbcode-button" type="button" class="button button-secondary">DCT</button>

<div id="adydctbbcode-modal" class="modal">
	<div class="modal-content panel bg1">
		<span class="close">&times;</span>
		<p>Cliquez sur une image pour la choisir&nbsp;:</p>
		<img src="{{ BOARD_URL }}images/ady/dctbbcode/oc_issues.png" class="adydctbbcode-choices" alt="OC Issues">
		<img src="{{ BOARD_URL }}images/ady/dctbbcode/oc_tpb.png" class="adydctbbcode-choices" alt="OC TPB">
		<hr>
		<img src="{{ BOARD_URL }}images/ady/dctbbcode/serie_wip.png" class="adydctbbcode-choices" alt="Série en cours">
		<img src="{{ BOARD_URL }}images/ady/dctbbcode/serie_end.png" class="adydctbbcode-choices" alt="Série terminée">
	</div>

</div>

{% INCLUDECSS '@ady_dctbbcode/adydctbbcode.css' %}
{% INCLUDEJS '@ady_dctbbcode/adydctbbcode.js' %}
{% endif %}
